<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to X API Bookmarks App</title>
</head>
<body>
<h1>Welcome!</h1>
<a href="/bookmarks/oauth/authorize">Signup with X API</a>
</body>
</html>
